body {
    background: rgba(0, 0, 0, 0.6);
    background-image: url('../images/full01.jpg');
    background-attachment: fixed;
}

.headerLogo{
  width: 60vh;
  display: block;
  margin: auto;
}

.navbar{
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration-color: #000;

}

.nav{
  color: #000;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.container {
  background: url('') no-repeat;
  background-size: 82%;
}

.about-page {
  float: left;
  margin-right: 10%;
}

.about-title {
  font-family: 'Dancing Script';
  font-size: 60px;
  font-weight: normal;
}

.sam-img{
  display: block;
  width: 20vh;
  height: 20vh;
}

.prints-box{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.print-image{
  width: 40vh;
  height: 40vh;
  border-radius: 15%;
  display: block;
  margin: auto;
}

.fig-caption{
  padding-top: 5vh;
  font-family: 'Dancing Script';
  font-size: 30px;
  position: relative;
  text-align: center;
}

/*.icontainer {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}*/


.card-image{
  display: block;
  width: 20vh;
  height: 20vh;
}

.about-text{
  margin-left: 30%;
  padding-top: 3%;
  padding-right: 25%;
  overflow: hidden;
}

.quantityBox{
  width: 50px;
  display: inline-block;
  float: right;
  margin-right: 30%;
}

.labelone{
  position: relative;
  padding-bottom: 10%;
  font-family: 'Inconsolata', monospace;
  color: #342D27;
}

.labeltwo{
  position: relative;
  font-family: 'Inconsolata', monospace;
  color: #342D27;
}

.contact-submit-message{
  padding-top: 5vh;
  font-family: 'Inconsolata', monospace;
  font-family: 'Permanent Marker', cursive;
  color: #5E5953;
  font-size: 25px;
  position: reative;
  text-align: center;
}

.contact-us{
  padding-top: 5vh;
  font-family: 'Inconsolata', monospace;
  font-family: 'Permanent Marker', cursive;
  color: #F18C27;
  font-size: 25px;
  position: relative;

}

.order-header{
  padding-top: 5vh;
  font-family: 'Inconsolata', monospace;
  font-family: 'Permanent Marker', cursive;
  color: #5E5953;
  font-size: 50px;
  position: reative;
  text-align: center;
}

.submissionForm{
  padding-top: 25%;
  padding-left: 25%;
}

.btn{
  font-family: 'Inconsolata', monospace;
  font-family: 'Permanent Marker', cursive;
  font-size: 23px;
  color: #F18C27;
  padding-left: 15%;
}

.btn2{
  font-family: 'Inconsolata', monospace;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: #F18C27;
}

.orange-hr{
  color: #F18C27;
}
