.headerLogo{
  display: block;
  margin: auto;
  width: 50%;
}

.navbar{
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration-color: #000;
}

.nav{
  color: #000;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.container {
  background: url('') no-repeat;
  background-size: 82%;
}

.home-page {
  padding-top: 20%;
  padding-bottom: 50%;
  padding-right: 15%;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  color: #D568FD;
}

.about-page {
  float: left;
  margin-right: 10%;
}

.about-title {
  font-family: 'Dancing Script';
  font-size: 60px;
  font-weight: normal;
}

.sam-img{
  display: block;
  width: 20vh;
  height: 20vh;
}

.prints-box{
  padding: 25px;
  border: 1px solid powderblue;
  margin: 10px;
}

.print-image{
  display: block;
  width: 40vh;
  height: 40vh;
  border-radius: 15%;
}

/*.icontainer {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}*/






.card-image{
  display: block;
  width: 20vh;
  height: 20vh;
}

.about-text{
  margin-left: 30%;
  padding-top: 3%;
  padding-right: 25%;
  overflow: hidden;
}



body {
  width: 75%;
  margin: auto;
}

h1 {
  margin-top: 30px;
}

.welcome {
  margin-bottom: 40px;
}

.beer p {
  margin: 5px 0;
}

.beer .name {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 300;
}

.beer p:last-child {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.beer .country {
  font-style: italic;
}

.beer .abv {
  font-style: italic;
}

.beer .cart-link {
  text-align: right;
}

.cart table {
  width: 100%;
}

.cart .update-input {
  width: 40px;
  text-align: center;
  margin-bottom: 0px; /* skeleton override */
}

.cart tbody button {
  border: 0;
  padding-top: 10px;
}

.cart .actions {
  display: flex;
  justify-content: space-between;
}
